<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<thymeleaf th:replace="~{fragment/htmlHead}"></thymeleaf>
  <script defer src="/js/member/login.js"></script>
  <title>Login</title>
</head>

<body>
  <div th:replace="~{fragment/header :: header}"></div>

  <div>
    <div class="container-sm">
      <form id="form">

        <fieldset>
          <legend>로그인</legend>
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com"
                autocomplete="on">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" name="password" placeholder="password"
                autocomplete="on">
            </div>
          </div>

          <div class="mb-3">
            <button class="btn btn-primary" id="submit-form-btn" type="submit">로그인</button>
            <button class="btn btn-secondary" id="go-back-btn" type="button" onclick="self.location.href = '/';">뒤로
              가기</button>
          </div>
        </fieldset>

      </form>
    </div>
  </div>

</body>

</html>