
<thymeleaf th:replace="~{fragment/htmlHead}"></thymeleaf>
  <script defer src="/js/member/signUp.js"></script>
  <script defer src="/js/member/signUpValidation.js"></script> 
  <title>Sign up</title>
</head>

<body>
  <div th:replace="~{fragment/header :: header}"></div>

  <div>
    <div class="container-sm">
      <form id="form">
        <fieldset>

          <legend>회원가입</legend>
          <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com"
                autocomplete="on">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">비밀번호</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" name="password" placeholder="password"
                autocomplete="on">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="passwordCheck" class="col-sm-2 col-form-label">비밀번호 확인</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="passwordCheck" name="passwordCheck"
                placeholder="password check" autocomplete="on">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="nickname" class="col-sm-2 col-form-label">닉네임</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="nickname" name="nickname" placeholder="nickname"
                autocomplete="on">
            </div>
          </div>

          <div class="mb-3">
            <button class="btn btn-primary" id="submit-form-btn" type="submit">회원가입</button>
            <button class="btn btn-secondary" id="go-back-btn" type="button" onclick="self.location.href = '/';">뒤로
              가기</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  
<thymeleaf th:replace="~{fragment/footer}"></thymeleaf>
