<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragment/htmlHead}">
  <title>404 Not Found</title>
</head>

<body>
<div th:replace="~{fragment/header :: header}"></div>

  <div class="container">
    <div class="mb-3 row" style="margin-top: 2rem;">
      <h2>요청하신 자료가 존재하지 않습니다.</h2>
      <h2>requested resource is not exist.</h2>
    </div>
    <div class="mb-3" id="buttons-area">
      <button class="btn btn-secondary" onclick="self.location.href = '/';">메인으로</button>
    </div>
  </div>
</body>

</html>